# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]ser[Ss]ettings/

# Firestore / Firebase
google-services.json
GoogleService-Info.plist
*.p12
*.pem
*.p8

# Specific large file
stereoscopicEditorUnity/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_5_0.bundle

# Other general files
.DS_Store
Thumbs.db
*.swp
